	<h4><%= link_to "Your Friends", omniauth_authorize_path(current_user, 'facebook'),
		:class => 'zocial facebook', :method => :post, :id => 'facebook-import', 
		:title => "Import Facebook Friends" %></h4> <br/>
<div id = 'friend-search'>
	<%= render 'friend_search' %>
</div>	
<div class = 'container-fluid'>
	<div class = 'span8' id = 'friend-div'>
		<%= render 'friends' %>
	</div>
	<div class = 'span4' id = 'update-div' style = "height:500px;overflow:auto">
		<%= render 'events/invite_list' %>
	</div>
</div>
