<div>
<h4>Hello, <%= @user.first_name %> <%=@user.last_name%>!</h4>
</div>
<div class = 'well container'>
	<div class = 'span8'>
		This is a span 8
	</div>
	<div class = 'span4'>
		<h4>Unhappy?</h4> 
		<p><%= button_to "Cancel my account", registration_path(@user), :confirm => 
			"Are you sure?", :method => :delete, :class=>'btn btn-danger' %></p>
	</div>
</div>


