<div class = 'container-fluid'>
	<div class = 'span8'>
		<%= render 'form' %>
		<div id = 'show-calendar'>
			<%= render 'calendars/form' %>
		</div>
	</div>

	<div class = 'span4'>
		<% if @event.invited_users.include?(current_user) %>
			<div>
				<%= link_to "Invite more friends! Or uninvite some less good friends!", 
				user_friends_path(:event => @event.id), {:style=>'color:#FFFFFF;',
				:class => 'btn btn-primary', :method => 'post'} %>
			</div>
		<% end %>
		
		<br/>
		
		<div id = 'update-div' style="height:540px;overflow:auto">
			<%= render 'events/invite_list' %>
		</div>
	</div>
</div>