<h2>How do I create an event?</h2>
<div class = 'container-fluid well'>
	<p>
		I know what you're wondering.  How do you get started making events with BoboCal? <br/>
		Here's a hint: when Bobo is available - ergo, not toiling away on one of your events already - the 
		<em>"Enlist Bobo"</em> button will appear.  
		
		<h2>Click Enlist Bobo.</h2> <br/>
		
		The rest should be self-explanatory.
	</p>
</div>
